<?xml version="1.0"?>
<launch>
	<!-- arguments -->
	<arg name="sim_robot" default="true"/>
	<arg name="robot_ip" unless="$(arg sim_robot)" />
	<arg name="sim_sensor" default="true"/>
	<arg name="robot_model_plugin" default="abb_irb2400_descartes/AbbIrb2400RobotModel"/>
	
	<arg name="process_plan_machine" default="GENI2" />
	<!-- godel_process_planning_node-->
	<arg name="process_path_generator_machine" default="GENI0" />
	<!-- process_path_generator_node -->
	<arg name="scan_process_execution_machine" default="GENI3" />
	<!-- keyence_process_service_node -->
	<arg name="mango_wrapper_machine" default="GENI1" />
	<!-- -->
	<arg name="polygon_offset_machine" default="GENI0" />
	<!-- godel_polygon_offset_node -->
	<arg name="blend_process_execution_machine" default="GENI3" />
	<!-- abb_blend_process_service_node -->
	<arg name="point_cloud_generator_machine" default="SwRI" />
	<!-- -->
	<arg name="SIM_industrial_robot_simulator_machine" default="User" />
	<!-- industrial_robot_simulator -->
	<arg name="SIM_world_to_sim_publisher_machine" default="User" />
	<!-- static_transform_publisher -->
	<arg name="SIM_joint_trajectory_action_machine" default="User" />
	<!-- joint_trajectory_action -->
	<arg name="SIM_simulator_service_machine" default="User" />
	<!-- simulator_service_node -->
	<arg name="SIM_robot_state_publisher_machine" default="User" />
	<!-- robot_state_publisher -->
	<arg name="robot_state_machine" default="SwRI" />
	<!-- robot_state-->
	<arg name="robot_state_publisher_machine" default="SwRI" />
	<!-- robot_state_publisher -->
	<arg name="surface_blending_service_machine" default="GENI1" />
	<!-- surface_blending_service -->
	<arg name="move_group_machine" default="GENI2" />
	<!-- move_group -->
	<arg name="path_execution_service_machine" default="GENI2" />
	<!-- path_execution_service_node -->
	<arg name="joint_trajectory_machine" default="SwRI"/>
	<!-- joint_trajectory_action -->
	<arg name="ftp_interface_machine" default="SwRI" />
	<!-- ros_abb_ftp_interface_node -->
	<arg name="rviz_machine" default="User"/>
	<!-- rviz -->
	<arg name="kinect_machine" default="Asus"/>
	<!-- Kinect node has 4 nodes which all be running in the same computer, kinect2_bridge,kinect2_points_xyzrgb_sd,kinect2_points_xyzrgb_qhd,kinect2_points_xyzrgb_hd
		-->
	
	
	
	<machine name="GENI0" address="10.8.0.10" env-loader="/users/gr5yf/Git/USIgniteRobotic/utility/scripts/env-loaderGENI0.sh"
		user="gr5yf"/>
	<machine name="GENI1" address="10.8.0.20" env-loader="/users/gr5yf/Git/USIgniteRobotic/utility/scripts/env-loaderGENI1.sh"
		user="gr5yf"/>
	<machine name="GENI2" address="10.8.0.30" env-loader="/users/gr5yf/Git/USIgniteRobotic/utility/scripts/env-loaderGENI2.sh"
		user="gr5yf"/>
	<machine name="GENI3" address="10.8.0.40" env-loader="/users/gr5yf/Git/USIgniteRobotic/utility/scripts/env-loaderGENI3.sh"
		user="gr5yf"/>
	<machine name="SwRI" address="10.8.0.50" env-loader="/home/gr5yf/Git/USIgniteRobotic/utility/scripts/env-loaderSwRI.sh"
		user="gr5yf" password="rosindustrial1234"/>
	<machine name="User" address="10.8.0.60" env-loader="/home/reza/repositories/git/USIgniteRobotic/utility/scripts/env-loaderUser.sh"
		user="reza" password="a" default="true">
	</machine>
	<machine name="Asus" address="10.8.0.70" env-loader="/home/reza/Git/USIgniteRobotic/utility/scripts/env-loaderAsus.sh"
		user="reza" password="a">
	</machine>
	<!-- Brings up action interface for simple trajectory execution - used by laser scanner
		process execution -->
	<node name="path_execution_service" pkg="godel_path_execution" type="path_execution_service_node"
		machine="$(arg path_execution_service_machine)"/>
	
	<!-- Launches the blend/scan process planners: requires descartes plugin for the robot
		model -->
	<include file="$(find godel_process_planning)/launch/process_planning.launch">
		<arg name="robot_model_plugin" value="$(arg robot_model_plugin)"/>
		<arg name="process_plan_machine" value="$(arg process_plan_machine)"/>
	</include>
	
	<!-- Process execution nodes: These monitor the state of robot's execution of the
		planned path. They can be, and in this case are, robot or vendor specific -->
	<group>
		<remap from="simulate_path" to="simulation/simulate_trajectory"/>
		<node name="blend_process_execution" pkg="godel_process_execution" type="abb_blend_process_service_node"
			machine="$(arg blend_process_execution_machine)"/>
		<node name="scan_process_execution" pkg="godel_process_execution" type="keyence_process_service_node"
			machine="$(arg scan_process_execution_machine)"/>
	</group>
	<!-- Bring up simulated robot that can be visualized under the tf namespace 'simulation'
		Allows for previewing paths generated before execution. -->
	<include file="$(find industrial_robot_simulator_service)/launch/start_simulation_server.launch">
		<arg name="SIM_robot_state_publisher_machine" value="$(arg SIM_robot_state_publisher_machine)"/>
		<arg name="SIM_world_to_sim_publisher_machine" value="$(arg SIM_world_to_sim_publisher_machine)"/>
		<arg name="SIM_joint_trajectory_action_machine" value="$(arg SIM_joint_trajectory_action_machine)"/>
		<arg name="SIM_industrial_robot_simulator_machine" value="$(arg SIM_industrial_robot_simulator_machine)"/>
		<arg name="SIM_simulator_service_machine" value="$(arg SIM_simulator_service_machine)"/>
		
	</include>
	
	<!-- Brings up the core blending service: this includes the tool path planners for
		both the blender and the laser scanner. -->
	<include file="$(find godel_surface_detection)/launch/godel_core.launch">
		<arg name="config_path" value="$(find godel_irb2400_support)/config"/>
		<arg name="surface_blending_service_machine" value="$(arg surface_blending_service_machine)"/>
		<arg name="process_path_generator_machine" value="$(arg process_path_generator_machine)"/>
		<arg name="polygon_offset_machine" value="$(arg polygon_offset_machine)"/>
	</include>
	
	<!-- If the user specifies a 'fake' sensor, publish fake data clouds -->
	<group if="$(arg sim_sensor)">
		<remap from="generated_cloud" to="sensor_point_cloud"/>
		<node pkg="godel_surface_detection" type="point_cloud_generator_node" name="point_cloud_generator_node"
			machine="$(arg point_cloud_generator_machine)">
			<rosparam command="load" file="$(find godel_irb2400_support)/config/point_cloud_descriptions.yaml"/>
		</node>
	</group>
	
	<!-- rviz w/ specified configuration -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find godel_irb2400_support)/rviz/irb2400_blending.rviz"
		output="screen" launch-prefix="nice" required="true" machine="$(arg rviz_machine)"/>
	<!-- Bring up the MoveIt interface to the real or simulated robot -->
	<include file="$(find godel_irb2400_moveit_config)/launch/moveit_planning_execution.launch">
		<arg name="rviz" value="false"/>
		<arg name="sim" value="$(arg sim_robot)"/>
		<arg name="robot_ip" value="$(arg robot_ip)" unless="$(arg sim_robot)"/>
		
		<arg name="ftp_interface_machine" value="$(arg ftp_interface_machine)"/>
		<arg name="robot_state_machine" value="$(arg robot_state_machine)"/>
		<arg name="joint_trajectory_machine" value="$(arg joint_trajectory_machine)"/>
		
		<arg name="robot_state_publisher_machine" value="$(arg robot_state_publisher_machine)"/>
		<arg name="move_group_machine" value="$(arg move_group_machine)"/>
	</include>
	
	
	
	<node name="resource_monitor_User" pkg="resource_monitor" type="hello" output="screen"
		 >
		<param name="process_name" value="[rviz,industrial_robot_simulator,static_transform_publisher,joint_trajectory_action,simulator_service_node,robot_state_publisher]"
			type="str"/>
		<param name="write_to_file" value="false" type="bool"/>
		<param name="sample_interval" value="1" type="int"/>
		<param name="net_interface" value="tun0" type="str"/>
		<param name="machine_name" value="User" type="str"/>
		
	</node>
	<!-- 
	<node name="resource_monitor_GENI0" pkg="resource_monitor" type="hello" output="screen"
		machine="GENI0" >
		<param name="process_name" value="[process_path_generator_node,godel_polygon_offset_node]"
			type="str"/>
		<param name="write_to_file" value="false" type="bool"/>
		<param name="sample_interval" value="1" type="int"/>
		<param name="net_interface" value="tun0" type="str"/>
		<param name="machine_name" value="User" type="str"/>
		
	</node>
	
	<node name="resource_monitor_GENI1" pkg="resource_monitor" type="hello" output="screen"
		machine="GENI1" >
		<param name="process_name" value="[surface_blending_service_machine]" type="str"/>
		<param name="write_to_file" value="false" type="bool"/>
		<param name="sample_interval" value="1" type="int"/>
		<param name="net_interface" value="tun0" type="str"/>
		<param name="machine_name" value="User" type="str"/>
		
	</node>
	
	<node name="resource_monitor_GENI2" pkg="resource_monitor" type="hello" output="screen"
		machine="GENI2" >
		<param name="process_name" value="[godel_process_planning_node,move_group,path_execution_service_node]"
			type="str"/>
		<param name="write_to_file" value="false" type="bool"/>
		<param name="sample_interval" value="1" type="int"/>
		<param name="net_interface" value="tun0" type="str"/>
		<param name="machine_name" value="User" type="str"/>
		
	</node>
	
	<node name="resource_monitor_GENI3" pkg="resource_monitor" type="hello" output="screen"
		machine="GENI3" >
		<param name="process_name" value="[keyence_process_service_node,abb_blend_process_service_node]"
			type="str"/>
		<param name="write_to_file" value="false" type="bool"/>
		<param name="sample_interval" value="1" type="int"/>
		<param name="net_interface" value="tun0" type="str"/>
		<param name="machine_name" value="User" type="str"/>
		
	</node>
	
<node name="resource_monitor_SwRI" pkg="resource_monitor" type="hello" output="screen"
		machine="SwRI" >
		<param name="process_name" value="[robot_state,robot_state_publisher,joint_trajectory_action,ros_abb_ftp_interface_node]"
			type="str"/>
		<param name="write_to_file" value="false" type="bool"/>
		<param name="sample_interval" value="1" type="int"/>
		<param name="net_interface" value="tun0" type="str"/>
		<param name="machine_name" value="User" type="str"/>
        <param name ="/use_sim_time" value="true"/>		
		
	</node> -->	
	
	<include unless="$(arg sim_sensor)" file="$(find godel_surface_detection)/launch/kinect2.launch">
		<arg name="machine" value="$(arg kinect_machine)"/>
	</include>
</launch>
