<?xml version="1.0"?>
<launch>
  <!-- arguments -->

  <arg name="robot_model_plugin" default="abb_irb2400_descartes/AbbIrb2400RobotModel"/>

  <!-- Brings up action interface for simple trajectory execution - used by laser scanner process execution -->
  <node name="path_execution_service" pkg="godel_path_execution" type="path_execution_service_node"/>

  <!-- Launches the blend/scan process planners: requires descartes plugin for the robot model -->
  <include file="$(find godel_process_planning)/launch/process_planning.launch">
    <arg name="robot_model_plugin" value="$(arg robot_model_plugin)"/>
  </include>

  <!-- Process execution nodes: These monitor the state of robot's execution of the planned path. They can be, and in this case are, robot or vendor specific -->
  <group>
    <remap from="simulate_path" to="simulation/simulate_trajectory"/>
    <node name="blend_process_execution" pkg="godel_process_execution" type="abb_blend_process_service_node"/>
    <node name="scan_process_execution" pkg="godel_process_execution" type="keyence_process_service_node"/>
  </group>

  
  <!-- Brings up the core blending service: this includes the tool path planners
       for both the blender and the laser scanner. -->
  <include file="$(find godel_surface_detection)/launch/godel_core.launch">
    <arg name="config_path" value="$(find godel_irb2400_support)/config"/>
  </include>


  <!-- Bring up the MoveIt interface to the real or simulated robot -->
  <include file="$(find godel_irb2400_moveit_config)/launch/moveit_planning_execution_cloud.launch">
    <arg name="rviz" value="false"/>
  </include>
  
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
  
</launch>

